h1 {
    border-width: 10px;
    border-style: groove;
    border-color: yellow;
    padding: 5px;
}
body {
    background-color: chocolate;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    margin: 20px;
}

.egenskap {
    color: blue;
    text-transform: uppercase;
}

.bilde1 {
    object-fit: cover;
    height: 175px;
    width: 175px;
    cursor: pointer;
}

.bilde1_stor {
    height: 700px;
    width: 900px;
    cursor: pointer;
}

.bilde2 {
    object-fit: cover;
    height: 175px;
    width: 175px;
    cursor: pointer;
}

.bilde2_stor {
    height: 700px;
    width: 900px;
    cursor: pointer;
}

.bilde3 {
    object-fit: cover;
    height: 175px;
    width: 175px;
    cursor: pointer;
}

.bilde3_stor {
    height: 700px;
    width: 900px;
    cursor: pointer;
}

.bilde4 {
    object-fit: cover;
    height: 175px;
    width: 175px;
    cursor: pointer;
}

.bilde4_stor {
    height: 700px;
    width: 900px;
    cursor: pointer;
}

.bilde5 {
    object-fit: cover;
    height: 175px;
    width: 175px;
    cursor: pointer;
}

.bilde5_stor {
    height: 700px;
    width: 900px;
    cursor: pointer;
}

.bilde6 {
    object-fit: cover;
    height: 175px;
    width: 175px;
    cursor: pointer;
}

.bilde6_stor {
    height: 700px;
    width: 900px;
    cursor: pointer;
}

.bilde7 {
    object-fit: cover;
    height: 175px;
    width: 175px;
    cursor: pointer;
}

.bilde7_stor {
    height: 700px;
    width: 900px;
    cursor: pointer;
}

.bilde8 {
    object-fit: cover;
    height: 175px;
    width: 175px;
    cursor: pointer;
}

.bilde8_stor {
    height: 700px;
    width: 900px;
    cursor: pointer;
}

.bilde9 {
    object-fit: cover;
    height: 175px;
    width: 175px;
    cursor: pointer;
}

.bilde9_stor {
    height: 700px;
    width: 900px;
    cursor: pointer;
}

.bilde10 {
    object-fit: cover;
    height: 175px;
    width: 175px;
    cursor: pointer;
}

.bilde10_stor {
    height: 700px;
    width: 900px;
    cursor: pointer;
}

.bilde11 {
    object-fit: cover;
    height: 175px;
    width: 175px;
    cursor: pointer;
}

.bilde11_stor {
    height: 700px;
    width: 900px;
    cursor: pointer;
}

.bilde12 {
    object-fit: cover;
    height: 175px;
    width: 175px;
    cursor: pointer;
}

.bilde12_stor {
    height: 700px;
    width: 900px;
    cursor: pointer;
}

.bilde {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    padding: 25px 0px;
    gap: 25px;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    width: 100%;
}

ul {
    display: inline-block;
    text-align: left;
    margin-bottom: 20px;
    
}
.lister {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}




 