h1 {
    border-width: 10px;
    border-style: groove;
    border-color: yellow;
    padding: 5px;
}

@media only screen and (max-width: 500px) {
    .bilde {
        width: 100%;
    }
}

body {
    background-color: chocolate;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    margin: 20px;
}

.egenskap {
    color: blue;
    text-transform: uppercase;
}

.bilde1 {
    object-fit: cover;
    height: 175px;
    width: 350px;
    cursor: pointer;
    transform: rotateY(360deg);
    transform: scaleX(1);
    transition-property: height;
    transition-property: width;
    transition-duration: 2s;
}

.bilde1_stor {
    height: 700px;
    width: 900px;
    cursor: pointer;
}

.bilde2 {
    object-fit: cover;
    height: 175px;
    width: 350px;
    cursor: pointer;
    transition-property: height;
    transition-property: width;
    transition-duration: 2s;
}

.bilde2_stor {
    height: 700px;
    width: 900px;
    cursor: pointer;
}

.bilde3 {
    object-fit: cover;
    height: 175px;
    width: 350px;
    cursor: pointer;
    transition-property: height;
    transition-property: width;
    transition-duration: 2s;
}

.bilde3_stor {
    height: 700px;
    width: 900px;
    cursor: pointer;
}

.bilde4 {
    object-fit: cover;
    height: 175px;
    width: 350px;
    cursor: pointer;
    transition-property: height;
    transition-property: width;
    transition-duration: 2s;
}

.bilde4_stor {
    height: 700px;
    width: 900px;
    cursor: pointer;
}

.bilde5 {
    object-fit: cover;
    height: 175px;
    width: 350px;
    cursor: pointer;
    transition-property: height;
    transition-property: width;
    transition-duration: 2s;
}

.bilde5_stor {
    height: 700px;
    width: 900px;
    cursor: pointer;
}

.bilde6 {
    object-fit: cover;
    height: 175px;
    width: 350px;
    cursor: pointer;
    transition-property: height;
    transition-property: width;
    transition-duration: 2s;
}

.bilde6_stor {
    height: 700px;
    width: 900px;
    cursor: pointer;
}

.bilde7 {
    object-fit: cover;
    height: 175px;
    width: 350px;
    cursor: pointer;
    transition-property: height;
    transition-property: width;
    transition-duration: 2s;
}

.bilde7_stor {
    height: 700px;
    width: 900px;
    cursor: pointer;
}

.bilde8 {
    object-fit: cover;
    height: 175px;
    width: 350px;
    cursor: pointer;
    transition-property: height;
    transition-property: width;
    transition-duration: 2s;
}

.bilde8_stor {
    height: 700px;
    width: 900px;
    cursor: pointer;
}

.bilde9 {
    object-fit: cover;
    height: 175px;
    width: 350px;
    cursor: pointer;
    transition-property: height;
    transition-property: width;
    transition-duration: 2s;
}

.bilde9_stor {
    height: 700px;
    width: 900px;
    cursor: pointer;
}

.bilde10 {
    object-fit: cover;
    height: 175px;
    width: 350px;
    cursor: pointer;
    transition-property: height;
    transition-property: width;
    transition-duration: 2s;
}

.bilde10_stor {
    height: 700px;
    width: 900px;
    cursor: pointer;
}

.bilde11 {
    object-fit: cover;
    height: 175px;
    width: 350px;
    cursor: pointer;
    transition-property: height;
    transition-property: width;
    transition-duration: 2s;
}

.bilde11_stor {
    height: 700px;
    width: 900px;
    cursor: pointer;
}

.bilde12 {
    object-fit: cover;
    height: 175px;
    width: 350px;
    cursor: pointer;
    transition-property: height;
    transition-property: width;
    transition-duration: 2s;
}

.bilde12_stor {
    height: 700px;
    width: 900px;
    cursor: pointer;
}

.bilde13 {
    object-fit: cover;
    height: 175px;
    width: 350px;
    cursor: pointer;
    transition-property: height;
    transition-property: width;
    transition-duration: 2s;
}

.bilde13_stor {
    height: 700px;
    width: 900px;
    cursor: pointer;
}

.bilde14 {
    object-fit: cover;
    height: 175px;
    width: 350px;
    cursor: pointer;
    transition-property: height;
    transition-property: width;
    transition-duration: 2s;
}

.bilde14_stor {
    height: 700px;
    width: 900px;
    cursor: pointer;
}

.bilde15 {
    object-fit: cover;
    height: 175px;
    width: 350px;
    cursor: pointer;
    transition-property: height;
    transition-property: width;
    transition-duration: 2s;
}

.bilde15_stor {
    height: 700px;
    width: 900px;
    cursor: pointer;
}

.bilde16 {
    object-fit: cover;
    height: 175px;
    width: 350px;
    cursor: pointer;
    transition-property: height;
    transition-property: width;
    transition-duration: 2s;
}

.bilde16_stor {
    height: 700px;
    width: 900px;
    cursor: pointer;
}

.bilde {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    flex-wrap: wra;
    padding: 25px 0px;
    gap: 50px;
}

.bilde1:hover {
    height: 700px;
    width: 900px;
}

.bilde2:hover {
    height: 700px;
    width: 900px;
}

.bilde3:hover {
    height: 700px;
    width: 900px;
}

.bilde4:hover {
    height: 700px;
    width: 900px;
}

.bilde5:hover {
    height: 700px;
    width: 900px;
}

.bilde6:hover {
    height: 700px;
    width: 900px;
}

.bilde7:hover {
    height: 700px;
    width: 900px;
}

.bilde8:hover {
    height: 700px;
    width: 900px;
}

.bilde9:hover {
    height: 700px;
    width: 900px;
}

.bilde10:hover {
    height: 700px;
    width: 900px;
}

.bilde11:hover {
    height: 700px;
    width: 900px;
}

.bilde12:hover {
    height: 700px;
    width: 900px;
}

.bilde13:hover {
    height: 700px;
    width: 900px;
}

.bilde14:hover {
    height: 700px;
    width: 900px;
}

.bilde15:hover {
    height: 700px;
    width: 900px;
}

.bilde16:hover {
    height: 700px;
    width: 900px;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    width: 100%;
}

ul {
    display: inline-block;
    text-align: left;
    margin-bottom: 20px;
    
}
.lister {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}




 