h1 {
    border-width: 10px;
    border-style: groove;
    border-color: yellow;
    padding: 10px;
    text-shadow: 1px 1px black;
    margin-bottom: 40px;
    max-width: 460px;
    width: 75%;
    display: flex;
    justify-content: center;
}

#Stein {
    zoom: 150%;
    margin-top: 15px;
    margin-bottom: 10px;
}

#Saks {
    zoom: 150%;
    margin-bottom: 10px;
}

#Papir {
    zoom: 150%;
    margin-bottom: 15px;
}

h2 {
    padding-top: 20px;
    padding-bottom: 20px;
}

h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    width: 100%;
}

body {
    background-color: chocolate;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Godjul {
    height: 325px;
    max-width: 600px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    background-image: url(Bilder/God_jul.gif);
    background-size: cover;
}

.Godjul:hover {
    background-image: url(Bilder/Julenisse.gif);
    background-size: cover;
}

.Godtnyttår {
    height: 325px;
    max-width: 600px;
    width: 100%;
    background-image: url(Bilder/Godt_nyttår.jpg);
    background-size: cover;
}

.Godtnyttår:hover {
    background-image: url(Bilder/Julenisse.gif);
    background-size: cover;
}

h4 {
    padding: 50px;
}




